.container {
  border: 1px solid grey;
  width: 550px;
  height: 580px;
  margin: 50px auto;
  display: block;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
}

h5 {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

h1 {
  margin-top: 20px;
}

.temperature {
  position: relative;
  top: -20px;
}

.temperature-number {
  font-size: 64px;
}

.units {
  position: relative;
  top: -34px;
}

#fahrenheit,
#celsius {
  margin: 4px;
}

.weekdays-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.weather-icon {
  width: 200px;
  padding-top: 20px;
}

.row,
.form-row {
  margin: 20px;
}

.form-row {
  padding-top: 20px;
}

.form-inline .form-control {
  width: 300px;
}

footer,
.source {
  font-size: 0.8125rem;
  color: #537895;
  text-align: center;
}

a {
  color: #f8cf06;
}

a:hover {
  color: white;
}

a.source {
  font-weight: 500;
}

p.name {
  padding: 10px;
}

.temperature .active {
  color: white;
}

.temperature .active:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#forecast {
  margin-top: 0;
}

#description {
  text-transform: capitalize;
}

#date {
  font-size: 18px;
}
